@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Noto+Sans:wght@300&family=Raleway:wght@300&display=swap');

// ==========company palet==================
            $back-company-prymary: #f4ffff;
// =========competent palet==============
        $base:#130160;
        $primary:#94e0e5;
        $secondary:#FF9228;
        $back-light:#fefefe;


// =============font=================
        $font-color:#150B3D;
        $font-color-light:#fff;

//====================home========================
$secondary-soft:#FFD6AD;
$back-dark:#f3f2f2;
$button-secondary:#D6CDFE;
*{
    font-family:'DM Sans', sans-serif ;
}
a{
    text-decoration: none;
    color: black;

}
body{
    min-height: 90vh;
    position: relative;
}
.nav-link{
    color: black;
    font-size: 2rem;
}
.navbar-expand-lg{
    position: fixed;
    justify-content: center;
    color: $secondary;
    
}.navbar-toggler{
  border: solid $secondary 0.5px;
}
span,.navbar-toggler-icon{
    color: $secondary;
}
.form-control{
    height: 60px;
    border-radius: 40px;
    text-align: center;
}.search-control{
    height: 40px;
    align-self: center;
    border:none;
}.navbar-brand{
    background-color: $secondary;
    border-radius: 10px;
    opacity: 0.6;
    padding: 5px;
}
ul{
    list-style: none;
}
section{
    width: 100%;
}.bt{
    margin-top: 20px;
    margin-bottom: 20px;
}
//======== Home==========
h2{
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
.header-custom{
    // margin-top: 100px;
    background: url(../images/pexels-andrea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: static;

}
.bg-light {
    --bs-bg-opacity: 0 !important; 
}
.accroche{
    min-height: 200px;
    font-size: 3rem !important;
}.who-are-you{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.i-am{
    background-color: $base;
    height: 70px;
    padding: 10px;
    border-radius: 40px;
    font-size: 2rem;
    margin: 20px;
    margin-right: 20px;
    text-align: center;
}.i-am-link{
    color: #fff;
}
.log-company{
    max-width: 50px;
    box-shadow: gray 2px 2px;
    margin: 10px;
}.entreprise-a-la-une{
min-height: 200px;
background-color: $back-dark;
padding: 20px;
display: flex;
flex-wrap: wrap;
}.job-a-la-une{
    // height: 300px;
    display: flex;
    min-height: 300px;
    justify-content: space-around;
    margin-top: 80px;
}.card-job{
    font-size: 1.5rem;
    background-color: $back-dark;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    max-width: 400px;
}.title-card-job{
    text-align: center;
    margin: 15px;
    font-weight: bold;
}.imag-job{
    max-width: 300px;
    height: auto;
}.categorie-metier{
    background-color: $back-light;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 50px;
    flex-direction: row;
}.job-family{
    font-size: 2rem;
    text-transform: uppercase;
    background-color: $back-dark;
    border-radius: 40px;
    margin: 15px;
    text-align: center;
    box-shadow: gray 3px 3px;
    max-width: 200px;
    display: block;

}.job-par-ville{
    background-color: $base;
    color: white ;
    font-size: 2rem;
    justify-content: space-around;
    padding: 30px;
}.city-location{
    margin: 20px;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    text-emphasis:unset;
    font-size: 2rem;
}.paris{
    background: url(../images/tour-eiffel.jpg);
    background-position: center;
    background-size: cover;
}.lyon{
    background: url(../images/lyon.jpg);
    background-position: center;
    background-size: cover;
}.marseille{
    background: url(../images/marseille.jpeg);
    background-position: center;
    background-size: cover;
}.lille{
    background: url(../images/lille.jpg);
    background-position: center;
    background-size: cover;
}.nantes{
    background: url(../images/nantes.jpg);
    background-position: center;
    background-size: cover;
}.toulouse{
    background: url(../images/toulouse.jpeg);
    background-position: center;
    background-size: cover;
}.why-sk{
    background-color: $back-light;
}.title-why{
    margin-top: 80px;
}.featurette{
    margin-top: 30px;
}
//.imag-features{
//     max-width: 500px;
//     height: auto;
// }

// ====== company ========
.header-column{
    display: none;
}
.container-inner-c{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: static;
    background-color: $secondary-soft;

}
.price{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    font-weight: 600;
    color: #fff;
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    padding: 70px 30px;
    text-align: center;
    background: url(../images/commercial-label.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.text-publi{
    font-size: 2rem;
}
.card-offer{
    background-color: $back-company-prymary;
    border-radius: 15px;
    padding: 15px;
}.title-offer{
    background-color: rgb(82, 82, 221);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    padding-bottom: 15px;
}
.list-offer{
    display: flex;
}
.description-offer
{
    flex-direction: column;
    margin-left: 10px;
    align-self: center;
}.descript-commercial{
    margin-left: 20px;
}.commer-company{
    margin-top: 80px;
    justify-content: center;
}.action-publi{
    margin-top: 100px;
}
.call-center{
    background-color: rgb(255, 242, 244);
    border-radius: 40px;
    margin: 40px;
    box-shadow: 5px 5px 5px rgb(192, 192, 192);
}.bddcv{
    display: flex;
    justify-content: center;
}.content-text-c{
    margin-left: 20px;
}.content-advan{
    display: flex;
}
.help{
    background-color:$back-company-prymary;
    margin-top: 100px;
}
b{
text-align: center;
}
.button{
    background-color: aqua;
    color: whitesmoke;
    border-radius: 5px;
    
}.account-company{
    background-color: rgb(212, 235, 255);
    border-radius: 10px;
    margin: 30px;
}
.account{
    background-color: rgb(243, 234, 234);
    border-radius: 10px;
    margin: 30px;
}.img-d-publi{
    margin: 5px;
}
.list-unstyled{
    margin-top: 100px;
}



// ===== competent ============
.container-inner{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: static;
    background-color: $base;

}.title-compe{
    color: #fff;
}
.bt-competent-log{
    background-color: $button-secondary;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    font-size: 1.5rem;
    margin: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}.bt-com-link{
    color: $font-color;
}.subtitle-compe-header{
    font-size: 1.5rem;
    color: white;
}.profile-conditions{
    margin-top: 80px;
}.description-conditions{
    margin-top: 30px;
}
.title-conditions{
    font-size: 3.5rem;
}.profile-condition-item{
    display: flex;
}.content-text{
    margin-left: 40px;
}.title-content-text{
    text-transform: uppercase;
    font-weight: bold;
}.descriptions-content{
    font-weight: 400;
    font-size: 1.5;
}


footer{
    position: absolute;
    // margin-bottom: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 41, 41);
    text-align: center;
    color: white;
}
