{% extends 'base.html.twig' %}

{% block title %}SkBnK - inscription compétent{% endblock %}

{% block body %}
<h3>Formulaire d'inscription</h3>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
{# <b>NOM</b><br>
<b>PRENOM</b><br>
<b>NOM ENTREPRISE</b><br>
<b>VILLE</b><br>
<b>SECTEUR ACTIVI</b><br>
<b>SIRET</b><br>
<b>Acepte les termes</b><br>
<b>bouton</b><br> #}
{% endblock %}
