{% extends 'base-company.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('crud_company/_form.html.twig') }}

    <a href="{{ path('app_crud_company_index') }}">back to list</a>
{% endblock %}
