{% extends 'base-company.html.twig' %}

{% block title %}Hello CompanyDashboardController!{% endblock %}

{% block body %}
<div class="container header-account-worker">
    <div class="row">
            <div class="col-md-12">
                <h3>confirme votre disponibilité</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <span class="button"><a href="">Confirmer disponibilité</a></span>
            </div>{# .col-md-12 #}

    </div>
</div>{# .header-account-worker #}
<div class="row">
    <div class="col-md-2 info-side ">
        <div class="info-perso account-company">
            <h3>Votre entreprise</h3>
                {{dump(user.company)}}
            {# <p>{{app.user.company.name}}</p> #}
            <a href="">Mettre à jour profil</a>
        </div>
        <div class="activity-perso account-company">
                <h3>Votre activité</h3>
            <ul>
                <li>Créer une mission</li>
                <li>Missions en cours </li>
                <li>Competent favoris</li>
                <li>Missions términées</li>
            </ul>
        </div>
        <div class="activity-perso account-company">
        <h3>Nouveau projet</h3>
        <ul>
            <li>Chercher un competent</li>
            <li>Definir projet</li>
            <li>Créer un contrat</li>
            <li>Planing</li>
        </ul>
    </div>

    <div class="activity-perso account-company">
        <h3>Vos chiffres</h3>
        <ul>
            <li>Coûts mission</li>
            <li>Vos dérnieres contrats</li>
            <li></li>
            <li></li>
        </ul>
    </div>
    </div>
    <div class="col-md-8 content-side ">
        <div class="block-content notifications account-company">
            <h3>Notifications missions</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h4>Mission en cours</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h4>Missions terminées</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="block-content chiffre-affaire account-company">
            <h3>Mon chiffre d'affaires</h3>
                <ul>
                    <li>Mission terminées</li>
                    <li>Chiffre d'affraires </li>
                    <li>Montant des missions en cours</li>
                    <li>Montant global</li>
                </ul>
            
</div>
        
    </div>  {# . content-account-side #}
</div> {# .row #}

{% endblock %}
