{% extends 'base.html.twig' %}

{% block title %}Skbnk - S'inscrire {% endblock %}

{% block body %}
<h2>Chercheur de compétences</h2>

<h3>Formulaire d'inscription</h3>

    <b>NOM</b><br>
    <b>PRENOM</b><br>
    <b>NOM ENTREPRISE</b><br>
    <b>NOMBRE EMPLOYEES</b><br>
    <b>VILLE</b><br>
    <b>SECTEUR ACTIVI</b><br>
    <b>SIRET</b><br>
    <b>VALEURS</b><br>
    <b>INTERIM OU PAS</b><br>
    <b>Acepte les termes</b><br>
    <b>bouton</b><br>


{% endblock %}